{{ $topics := .Params.topics | default (slice) }}
{{ $projects := .Params.projects | default (slice) }}
{{ if or .Date $topics $projects }}
  <div class="publication-meta" aria-label="Publication details">
    {{ with .Date }}<time datetime="{{ .Format "2006-01-02" }}">{{ .Format "2 January 2006" }}</time>{{ end }}
    {{ with $topics }}
      <ul class="publication-meta__list" aria-label="Topics">
        {{ range . }}<li>{{ . }}</li>{{ end }}
      </ul>
    {{ end }}
    {{ with $projects }}
      <ul class="publication-meta__list" aria-label="Projects">
        {{ range . }}<li>{{ . }}</li>{{ end }}
      </ul>
    {{ end }}
  </div>
{{ end }}
